.nav-pills {
  text-align: right;
}
.container {
background-image: url(../images/imagelap.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color:white;
}
.list-group {
  border: none;
}
.container {
  font-size: 20px;
}
h1 {
  text-align: center;
}
#home {
  color:white;
}
.about me{
  text-align: center;
}
